<%- include('layouts/head') %>
        <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>Dashboard</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="page-header float-right">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a href="#">Dashboard</a></li>
                                    <li><a href="#">Table</a></li>
                                    <li class="active">Basic table</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Employees</strong>
                            </div>
                            <div class="table-stats order-table ov-h">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <th class="serial">ID</th>
                                            <th class="avatar">Avatar</th>
                                            <th>Name</th>
                                            <th>Product</th>
                                            <th>Created at</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% users.forEach(function(user){ %>
                                            <tr>
                                                <td class="serial"><%- user.id %>.</td>
                                                <td class="avatar">
                                                    <div class="round-img">
                                                        <a href="#"><img class="rounded-circle" src="/assets/images/avatar/1.jpg" alt=""></a>
                                                    </div>
                                                </td>
                                                <td>  <span class="name"><%- user.name + ' ' + user.surname %></span> </td>
                                                <td> <span class="product"><%- user.email %></span> </td>
                                                <td><span><%- user.created_at.toLocaleString() %></span></td>
                                                <td>
                                                    <span class="badge badge-complete">Complete</span>
                                                </td>
                                            </tr>
                                          <% }); %>
                                          <!-- <span class="badge badge-pending">Pending</span> -->
                                    </tbody>
                                </table>
                            </div> <!-- /.table-stats -->
                        </div>
                    </div>
                   

               
        </div>
    </div><!-- .animated -->
</div><!-- .content -->
<% let foot = ``; %>
<%- include('layouts/foot', {foot:foot}) %>

